.row {
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../../assets/background-budget.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 450px;
  color: #fff;

  h1 {
    padding-top: 50px;
  }

  .income-display,
  .expenses-display {
    width: 525px;
    margin: auto;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .total-percentage {
      transition: .2s linear;
      border-radius: 7px;
      border: solid 1px #fff;
      background-color: #2e336a;
      color: #fff;
      padding: 4px;
      font-size: 14px;
      margin-left: 3px;
      margin-right: -5px;
    }
  }

  .income-display {
    background-color: #3eaaa4;
  }

  .expenses-display {
    background-color: #dc5f45;
  }
}

.total-sum {
  opacity: 0;
  transition:  all 0.3s ease-in-out;

  span:nth-of-type(1) {
    border-bottom: 1px solid white;
  }
}

.show-total {
  opacity: 1;
}
