.col-title {
  padding-top: 20px;
  padding-bottom: 2px;
  font-size: 19px;
  font-weight: bold;
}

hr {
  margin-bottom: 0;
}

.col-title-expenses {
  color: #dc5f45;
}

.expense-entry-list {
  //  display: flex;
  //justify-content: space-between;
  //.list-item {
  //  display: flex;
  //  justify-content: space-between;
  //}
}
