<div class="row">
  <div class="col-md-12 text-center">
    <h1>
      Available Budget in: {{ currentMonth }}
    </h1>
    <h2 class="total-sum" [ngClass]="{'show-total' : (total | async) !== 0}"><span>Total</span><br> <span>{{total | async}}</span> </h2>
  </div>
  <div class="col-md-12 text-center">
    <div class="income-display">
      <span>Income</span>
      <span class="field-value">{{ income | async }}</span>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <div class="expenses-display">
      <span>Expenses</span>
      <span class="field-value">{{ expense | async }}</span>
    </div>
  </div>
</div>
